 <!DOCTYPE html>                                                                                                                                                                                                                                            
  <html lang="en">
  <head>                                                                                                                                                                                                                                                     
      <meta charset="UTF-8">
      <title>{{ env | upper }} Server</title>
  </head>                                    
  <body>                                                                                                                                                                                                                                                     
      <h1>Environment: {{ env | upper }}</h1>
      <p>App version: {{ app_version }}</p>                                                                                                                                                                                                                  
      <p>Port: {{ app_port }}</p>          
  </body>                                                                                                                                                                                                                                                    
  </html>