[defaults]
  inventory = inventories/dev/hosts.ini                                                                                                                                                                                                                      
  remote_user = ubuntu
  private_key_file = ./ansible_key                                                                                                                                                                                                                          
  host_key_checking = False
  roles_path = roles/
#   added to avoid the error: ansible-playbook: error: the playbook: site.yml could not be found
  interpreter_python = /usr/bin/python3       


[privilege_escalation]
  become = True                                                                                                                                                                                                                                              
  become_method = sudo
  become_user = root